@{
    Layout = "_Layout";
}

@await Html.PartialAsync("_Header", new { Titulo = "Salas", PaginaInicial = true })

<div class="container mt-4">
    <div class="text-end">
        <a class="btn btn-primary" href="Sala/Cadastro">Adicionar Sala</a>
        <hr />
    </div>
    <div>
        
    </div>
</div>
