@{
    Layout = "_Layout";
}

<h1 class="titulo-pagina text-color-primary">Usuários</h1>



<div class ="text-end">
    <a class="btn btn-primary" href="Usuario/Cadastro">Adicionar Usuário</a>
    <hr />
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="w-40">Nome</th>
                <th scope="col" class="w-20 text-center">Matrícula</th>
                <th scope="col" class="w-20 text-center">Perfil</th>
                <th scope="col" class="w-10 text-center">Ativo?</th>
                <th scope="col" class="w-10 text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Chris</td>
                <td class="text-center">HTML tables</td>
                <td class="text-center">Administrador</td>
                <td class="text-center">Sim</td>
                <td class="text-center"></td>
            </tr>
        </tbody>
        <tfoot>

    </table>
</div>