@{
    Layout = "_Layout";
}

@await Html.PartialAsync("_Header", new { Titulo = "Usuários", PaginaInicial = true })

@section Scripts {
    <script src="~/js/views/Usuario/index.js"></script>
}

<div class="container mt-4">
    <div class="text-end">
        <a class="btn btn-primary" href="Usuario/Cadastro">Adicionar Usuário</a>
        <hr />
    </div>
    <div id="divListaUsuarios">

    </div>
    <input type="hidden" value="1" id="numeroPagina" />
</div>
