:root {
    --primary-color: #477998;
}

.form-label {
    font-weight: 600;
    color: #333;
}

.form-control, .form-select {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 14px;
}

.form-control:focus, .form-select:focus {
    border-color: #477998;
    box-shadow: 0 0 8px rgba(71, 119, 152, 0.6);
}

/* Checkbox */
.form-check-input {
    width: 20px;
    height: 20px;
    transition: background-color 0.2s, border-color 0.2s;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-check-label {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.form-check-input:focus{
    box-shadow: none;
}

/* Botão */
.btn {
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover, .btn-custom:active {
    background-color: #365d73 !important;
    color: white !important;
}

.btn-custom:active {
    transform: scale(0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn-custom{
    height: 40px;
    width: 125px;
    font-weight: 700;
    padding: 0;
}

/* Título */
.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: .5em;
}

.arrow {
    cursor: pointer;
    height: 60px;
    width: 20px;
    position: relative; 
}

.arrow-top, .arrow-bottom {
    background-color: var(--primary-color);
    height: 2px;
    position: absolute;
    width: 100%;
    left: -5px;
    top: 50%;
}

.arrow-top {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.arrow-bottom {
    transform: rotate(45deg);
    transform-origin: top left;
}

.arrow-top:after, .arrow-bottom:after {
    background-color: #3C5D6D;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow-top:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow-bottom:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
    left: 0;
    transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
    right: 0;
    transition-delay: 0s;
}

.arrow:active {
    transform: scale(0.9);
}

h1 {
    font-size: 30px;
    color: #477998;
    margin: 0;
}
