:root {
    --primary-color: #477998;
    --light-color: #FFF;
}

.text-color-primary {
    color: var(--primary-color);
}

.text-color-light {
    color: var(--light-color);
}

.background-primary {
    background: var(--primary-color);
}

.background-light {
    background: var(--light-color);
}


